a {
	text-decoration: none;
	color: black;
}

.col {
	border:0px solid black;
}

#div1 {
	margin-top: 56px;
}

#navHr {
	position:fixed; 
	border: 1px solid black; 
	top: 40px; 
	left: 0; 
	width: 100%;
}

#footer_container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

h3 {
	/*color: grey;*/
}

#copyright_container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#footer_p {
	font-weight: 4;
	font-size: small;
}

#footer_anchor {
	text-decoration: none;
	color: grey;
}
