.col {
	border: 1px solid lightgrey;
}

#helloCol {
	min-width: 400px;
	max-width: 400px;
}

#hello {
	padding-top: 50px;
	padding-bottom: 25px;
}

h1, h2 {
	color: #7f8282;
}

p {
	font-weight: 4;
}

img {
        border-radius: 10px;
        border: 3px solid lightgrey;
        box-shadow: 7px 7px 10px lightgrey;	
}

a {
	text-decoration: none;
	color: black;
}

#showcase_row {
	padding-top: 50px;
}

#parent {
	border: 1px solid lightgrey;
	display: flex;
	flex-wrap: wrap; 
	justify-content: center;
	padding-top: 50px;
}

@container showcase_row_2 (width < 990px) {
	display: flex;
	flex-direction: column;
        justify-content: center;	
}

#showcase_heading_col {
	min-width:400px;
	max-width: 400px;
}

#showcase_img {
	border-radius: 10px;
	border: 3px solid lightgrey;
	box-shadow: 7px 7px 10px lightgrey;
	margin-bottom: 8px;
}

#col_showcase {
	border: 1px solid blue;
	min-width: 330px;
	max-width: 330px;
}
