.col {
	border: 0px solid black;
}

#helloCol {
	min-width: 220px;
}

#hello {
	padding-top: 50px;
	padding-bottom: 25px;
}

h1, h2 {
	color: #7f8282;
}

p {
	font-weight: 4;
}

img {
	border: 1px solid black;
}

a {
	text-decoration: none;
	color: black;
}

#showcase_row {
	padding-top: 50px;
}

#showcase_row_2 {
	padding-top: 50px;
}

#showcase_heading_col {
	min-width: 203px;
}

#showcase_img {
	border-radius: 10px;
	border: 3px solid lightgrey;
	box-shadow: 7px 7px 10px lightgrey;
	margin-bottom: 8px;
}

#col_showcase {
	max-width: 330px;
	min-width: 330px;
}
