h1, h2 {
	color: grey;
}

#flexCardsContainer {
	padding: 50px 0;
	border: 0px solid grey;	
}

#cardsRow {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}

#card {
	margin-top: 50px;
	width: 300px;
	border: 1px solid lightgrey;
	border-radius: 5px;
}

p {
	font-weight: 4;
	text-align: center; 
}

button {
	background-color: lightgrey;
	border: 1px solid grey;
	border-radius: 5px;
	margin-bottom: 15px;
	width: 60px;
       	margin-left: 120px;	
}

button:hover {
	background-color: grey;
	color: white;
}
