<div id="credentials_row" class="row">
	<div class="col"></div>
        <div id="credentials_heading_col" class="col">
		<h1>Credentials</h1>
	</div>	
        <div class="col"></div>	
</div>
<div id="credentials_row_2">
	<div id="col_credentials">
		<a id="credential_anchor" href="{{ link_credential1 }}">
                        <img id="credential_img" height='200' width='300' src="static/variableFiles/clientCredentials/credential1.png">
                        <br>
			<p><strong>{{ title_credential1 }}</strong><p>
                </a>
	</div>
        <div id="col_credentials">
                <a id="credential_anchor" href="{{ link_credential2 }}">
                        <img id="credential_img" height='200' width='300' src="static/variableFiles/clientCredentials/credential2.png">
                        <br>
                        <p><strong>{{ title_credential2 }}</strong><p>
                </a>
        </div>
        <div id="col_credentials">
                <a id="credential_anchor" href="{{ link_credential3 }}">
                        <img id="credential_img" height='200' width='300' src="static/variableFiles/clientCredentials/credential3.png">
                        <br>
                        <p><strong>{{ title_credential3 }}</strong><p>
                </a>
        </div>	
</div>
