<div id="reviews_row" class="row">
	<div class="col"></div>
	<div id="reviews_heading_col" class="col">
		<h1>Reviews</h1>
	</div>
	<div class="col"></div>
</div>
<div id="reviews_row_2">
	<div id="col_reviews">
        	<a id="reviews_anchor" href="{{ link_reviews1 }}">
                	<img id="reviews_img" height='200' width='300' src="static/variableFiles/clientReviews/review1.png">
                	<br>
                	<p><strong>{{ title_review1 }}</strong><p>
			<p>{{ info_review1 }}</p>
        	</a>
	</div>
</div>
