<div id="showcase_row" class="row">
	<div class="col"></div>
	<div id="showcase_heading_col" class="col">
		<!-- client's showcase -->
		<h1>My {{ showcase_type }}</h1>
	</div>
	<div class="col"></div>
</div>
<div id="showcase_row_2">
	<div id="col_showcase">
		<a id="showcase_anchor" href="{{ link_showcase1 }}">
			<img id="showcase_img" height='200' width='300' src="static/variableFiles/clientShowcase/showcase1.jpg">
			<br>
			<p><strong>{{ title_showcase1 }}</strong><p>
			<p>{{ info_showcase1 }}</p>
		</a>
	</div>

	<div id="col_showcase">
        	<a id="showcase_anchor" href="{{ link_showcase2 }}">
                 	<img id="showcase_img" height='200' width='300' src="static/variableFiles/clientShowcase/showcase2.png">
                        <br>
                        <p><strong>{{ title_showcase2 }}</strong><p>
                        <p>{{ info_showcase2 }}</p>
        	</a>
	</div>

        <div id="col_showcase">
                <a id="showcase_anchor" href="{{ link_showcase3 }}">
                        <img id="showcase_img" height='200' width='320' src="static/variableFiles/clientShowcase/showcase3.png">
                        <br>
                        <p><strong>{{ title_showcase3 }}</strong><p>
                        <p>{{ info_showcase3 }}</p>
                </a>
        </div>	

</div>
