<footer id="footer" style="background-color: #f5f5f5;">
	<div id="footer_container">
		<div id="footer_col">
			<p style="height: 15px;" id="footer_p">
                        	Copyright © {{ copyright_year_range }} {{ client_name }}
                        </p>
			<h6>Important Links</h6>
			<a id="footer_anchor" href="/myself">Myself</a>
			<br>
			<a id="footer_anchor" href="/services">Services</a>
			<br>
			<a id="footer_anchor" href="/contact">Contact</a>
		</div>
		<div id="footer_col">
			<p style="height: 15px;" id="footer_p">
                        </p>
			<h6>Social</h6>
			<a id="footer_anchor" href="https://github.com/fundamentalprinciple">Github</a>
			<br>
			<a id="footer_anchor" href="https://www.linkedin.com/in/prince-dixit-291599377/">Linkedin</a>
		</div>
		<div id="footer_col">
			<p style="height: 15px;" id="footer_p">
                        </p>
			<h6>Other</h6>
			<a id="footer_anchor" href="https://study.iitm.ac.in/ds/">IITM BS Degree</a>
			<br>
			<a id="footer_anchor" href="https://www.freecodecamp.org/">freeCodeCamp</a>
			<br>
			<a id="footer_anchor" href="https://www.youtube.com/@3blue1brown">Favourite yt channel</a>
		</div>
	</div>
</footer>
