{% extends 'base.html' %}

{% block afterNav %}
	<link rel="stylesheet" href="static/stylesheets/myself.css">
	<div id="hello" class="container">
		{% include "/myselfDir/hello.html" %}
	</div>
	<hr>
	<div id="showcase" class="container">
		{% include "/myselfDir/showcase.html" %}
	</div>
	<hr>
	<div id="credentials" class="container">
		{% include "/myselfDir/credentials.html" %}
	</div>
	<!--
	<div id="reviews" class="container">
		{% include "/myselfDir/reviews.html" %}
	</div>
	-->

{% endblock %}
