<footer class="mx-auto w-full max-w-screen-md pb-12">
  <hr class="mx-auto mb-5 w-full border border-neutral-200 dark:border-neutral-800" />
  
  <p class="mb-4 text-sm text-neutral-700 opacity-50 dark:text-neutral-300">
    Copyright © 2021 - <!-- -->2025<!-- --> Prince Dixit
  </p>
  
  <div class="flex justify-between gap-4">
    <!-- Important Links -->
    <div class="text-neutral-700 dark:text-neutral-400">
      <p class="mb-2 mt-1 font-bold text-neutral-800 dark:text-white">Important Links</p>
      <a target="_self" class="mt-1 block duration-100 hover:text-neutral-700 hover:underline 
         motion-reduce:transition-none dark:hover:text-neutral-300" href="/">Home</a>
      <a target="_self" class="mt-1 block duration-100 hover:text-neutral-700 hover:underline 
         motion-reduce:transition-none dark:hover:text-neutral-300" href="/work">My work</a>
      <a target="_self" class="mt-1 block duration-100 hover:text-neutral-700 hover:underline 
         motion-reduce:transition-none dark:hover:text-neutral-300" href="/blog">Blog</a>
    </div>

    <!-- Social Links -->
    <div class="text-neutral-700 dark:text-neutral-400">
      <p class="mb-2 mt-1 font-bold text-neutral-800 dark:text-white">Social</p>
      <a target="_blank" class="mt-1 block duration-100 hover:text-neutral-700 hover:underline 
         motion-reduce:transition-none dark:hover:text-neutral-300" 
         href="https://github.com/Suhaib3100">Github</a>
      <a target="_blank" class="mt-1 block duration-100 hover:text-neutral-700 hover:underline 
         motion-reduce:transition-none dark:hover:text-neutral-300" 
         href="https://instagram.com/suhaib_s_z">Instagram</a>
      <a target="_blank" class="mt-1 block duration-100 hover:text-neutral-700 hover:underline 
         motion-reduce:transition-none dark:hover:text-neutral-300" 
         href="https://discord.gg/sgt4QEyDxK">Discord</a>
    </div>

    <!-- Other Links -->
